spin_version = "1"
authors = ["nigelpoulton <me@nigelpoulton.com>"]
description = ""
name = "books"
trigger = { type = "http", base = "/" }
version = "0.1.0"

[[component]]
id = "books"
source = { url = "https://github.com/fermyon/spin-fileserver/releases/download/v0.0.1/spin_static_fs.wasm", digest = "sha256:650376c33a0756b1a52cad7ca670f1126391b79050df0321407da9c741d32375" }
files = [{ source = "build/", destination = "/" }]
exclude_files = ["**/node_modules"]
[component.trigger]
route = "/..."
[component.build]
command = "npm run build"

[[component]]
id = "api"
source = "api/target/wasm32-wasi/release/api.wasm"
environment = { DB_URL = "host=localhost user=postgres dbname=postgres password=postgres" }
[component.trigger]
route = "/api/..."
[component.build]
command = "cargo build --target wasm32-wasi --release"
workdir = "api"
